input, div[contenteditable="true"] {
    background-color: var(--light-gray);
}
/* .mc-option {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
} */
.card-mc, .card-txt, .ranking-list {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-q-cont {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.mcbtn {
    margin-left: 0px;
}
.mcop-del, .mcop-val, .mcop-nosel, .mcop-sel, .txtans-del, .rank-del {
    height: 27px;
    width: 27px;
    padding: 0px;
}
.mcop-sel, .selbtn-sel {    
    background-color: var(--select-blue);
}
.mcop-del, .txtans-del, .rank-del, .mtchpair-del {
    background-color: var(--danger-red);
}
.mcop-sel {
    background-color: var(--accent-1);
}
.mcop-sel span {
    color: var(--dark-text);
}
.mcop-sel span {
    transition: 0.3s;
}
.mcop-nosel {
    background-color: var(--light-gray);
}
.ansdiv {
    width: 50% !important;
}
.mcop-corr > span, .mcop-del > span, .mcop-sel > span, .txtans-del > span, .rank-del > span,  .mtchpair-del > span{
    font-size: 15px;
    margin: 7px 0;
    padding: 0;
}
button:hover {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    /* box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.3); */
}
.container {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
}
.create-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    background-color: var(--dark-gray);
}
#name {
    max-width: 600px;
}
#description {
    max-width: 700px;
    margin-bottom: 15px;
}
.create-container input, .create-container > button {
    font-size: 11pt;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
button {
    margin-left: 5px;
    padding: 0px 8px;
}
.create-container input, .q, .mcop-val {
    border: none;
    color: var(--light-text);
}
.q, .mcop-val, .txtans, .rank-item-txt  {
    width: 70%;
    display: inline-block;
    height: 30px;
}
.create-container > .mcbtn {
    margin-left: 0px;
}
.mc-add, .rank-add, .txt-add, .mtch-add {
    border: none;
    color: var(--light-text);
    background-color: var(--select-blue);
}
.quick-action {
    border: none;
    color: var(--light-text);
    background-color: var(--lighter-gray);
    margin-right: 5px;
}
.inactive {
    border: none;
    color: var(--light-text);
    background-color: var(--gray);
    margin-right: 5px;
}
.active {
    border: none;
    color: var(--dark-text);
    background-color: var(--accent-1);
    margin-right: 5px;
}
.active .material-symbols-outlined {
    color: var(--dark-text) !important;
}
.card-del {
    border: none;
    color: var(--light-text);
    background-color: var(--danger-red);
    margin-right: 5px;
}
#addcard, #create {
    background-color: var(--light-text);
    width: 76%;
    max-width: 700px;
}
#create {
    background-color: var(--accent-1);
}
.card {
    margin-top: 10px;
}
#importBtn {
    background-color: var(--light-gray);
    color: var(--light-text);
}
.import-modal {
    display: none;
    border: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
.modal-content {
    background-color: var(--light-gray);
    border-style: none;
    margin: 50px auto;
    padding: 30px;
    width: 50%;
    min-height: 70%;
    border-radius: 10px;
}
.options-container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    padding: 10px;
    width: 200px;
    height: min-content;
    margin: 0px 15px;
    border-radius: 10px;
}
.options-container button {
    margin: 5px 0px;
}
.options-container > p {
    font-size: 13px;
    text-align: center;
}
.options-container button#quizlet-import {
    background-color: rgb(100, 150, 255);
    
}
.options-container button#bento-import {
    background-color: rgb(255, 100, 100);
}
#importText {
    border: none;
    border-radius: 10px;
    padding: 0.5%;
    background-color: var(--gray);
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 20px;
}
.import-checkbox-container {
    width: 100%;
}
#importCreateBtn {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
#importName, #importDescription {
    width: 90%;
    font-size: 11pt;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
.deck-pick-container { 
    position: relative;
	height: calc(9vh*2.75);
	width: calc(16vh*2.75);
    margin: 5px 0;
}
.deck-pick-container > span {
    position: absolute;
    top: 5px;
    right: 10px;
}
#picReset {
    right: 45px;
}
.deck-pic {
    border-radius: 10px;
	height: calc(9vh*2.75);
	width: calc(16vh*2.75);
    display: inline-block;
    object-fit: cover;
}
.file-selector {
    display: inline-block;
    background: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    opacity: 0;
}
#picAddBtn, #picReset {
    cursor: pointer;
    color: #5992e8;
    font-size: 32px;
    transition: 0.3s;
}
#picAddBtn:hover, #picReset:hover {
    filter: brightness(85%);
}
#cardcontain {
    transition: 0.3s;
}
.deck-divider {
    margin: 20px 5px;
}
#draftdeck button {
    align-items: center;
    margin: 0;
    padding: 0;
    height: 31px;
    width: 31px;
    margin-right: 5px;
}
#draftdeck span {
    margin: 0;
    font-size: 22px;
    height: 30px;
    line-height: 30px;
}
#show > span {
    color: var(--dark-text);
}
#del {
    color: var(--light-text);
    background-color: var(--danger-red);
}
.draftdeck {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);

    border-radius: 5px;
    margin-bottom: 10px;
}
.draftdeck p {
    text-align: center;
}
.draftdeck div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.draftdeck div button {
    padding: 5px 0px;
    width: calc(50% - 1.5px);
    margin: 0;
    display: flex;
    align-items: center;
}
.draftdeck div button .material-symbols-outlined {
    font-size: 36px;
    width: 100%;
    text-align: center;
}
.show {
    background-color: var(--select-blue);
    border-radius: 5px 0px 0px 5px;
}
.del {
    background-color: var(--danger-red);
    border-radius: 0px 5px 5px 0px;
}
.card-mtch {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-mtch {
    margin: 15px 0;
}
.mtch-pair {
    position: relative;
    margin: 5px 0px;
    div:first-child {
        position: relative;
    }
    div:last-child {
        position: relative;
        margin-top: 20px; /* Adjust as needed */
    }
    div:first-child::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        width: 2px;
        height: 20px; /* Change both margin-top and height to change height (same value) */
        background-color: var(--light-text);
    }
    button {
        position: absolute;
        top: 5px;
        left: 52%;
    }
}
#picAddBtn, #fileselecttrigger {
    cursor: pointer;
}
input[type="file"] {
    max-width: 200px;
}
.rank-clone, .mtch-clone, .txt-clone, .mc-clone {
    .small-ico {
        color: var(--dark-text);
    }
}
.import-card {
    position: relative;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 10px;
    background-color: var(--gray);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.import-card:hover {
    filter: brightness(125%);
}
.import-question-checkbox {
    position: absolute;
    right: 10px;
}
.import-sel {
    position: absolute;
    top: 15px;
    left: 10px;
}
#tagsContainer {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
    justify-items: center;
}
#tags {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.tag {
    display: flex;
    padding: 0px 5px;
    background-color: rgb(175, 150, 100);
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    .material-symbols-outlined {
        font-size: 12pt;
    }
    & p {
        white-space: nowrap;
    }
}
.add-tag, .remove-tag {
    cursor: pointer;
    transition: 0.3s;
}
.add-tag:hover, .remove-tag:hover {
    filter: brightness(85%);
}
#tagInput {
    width: 150px;
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
    height: 32px;
}
.drag-handle {
    width: 15px;
    display: inline-block;
    cursor: grab;
    border-radius: 10px;
    user-select: none;
}
.drag-handle:hover {
    filter: brightness(115%);
}
.cardsel {
    position: relative;
}
.card-drag-handle {
    height: 27px;
    display: inline-block;
    cursor: grab;
    border-radius: 10px;
    user-select: none;
    right: 0;
    bottom: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    * {
        font-size: 22pt;
    }
}
@media only screen and (max-width: 1025px) {
    .options-container {
        margin: 10px 0px;
    }
    .deck-pick-container, .deck-pic {
        height: calc(9vh*2.4);
        width: calc(16vh*2.4);
    }
    .container {
        width: 93%;
        flex-direction: column;
    }
    #addcard, #create {
        width: 100%;
    }
    .modal-content {
        width: 92%;
        padding: 2% 1%;
    }
    .modal-content > h1 {
        font-size: 24pt;
    }
    .create-container {
        width: calc(100% - 10px);
        padding: 5px;
    }
}
@media only screen and (max-width: 700px) {
    .options-container {
        width: calc(93%);
    }
}
