* {
    color:#eeeeee;
    font-family:kadwa, karla, sans-serif;
    padding:0;
    margin:0;
}
h1 {
    font-weight:normal;
    font-size:56pt;
    letter-spacing:-0.03em;
    font-family:karla;
}
h1 > * {
    font-family:karla;
}
h2 {
    font-weight:normal;
    font-size:24pt;
    letter-spacing:0;
    font-family:karla;
}
h2 > * {
    font-family:karla;
}
p, span {
    font-size:12pt;
    letter-spacing:40;
    font-family:kadwa;
}
p > * {
    font-family:kadwa;
}
body {
    background:rgb(17, 26, 35);
}
button {
    cursor:pointer;
}
.header {
    overflow:hidden;
    background-color:#1e1e1e;
    padding:0 5px;
    border-radius:0 0 10px 10px
}
.header > * {
    padding-top:12px;
}
.header span {
    float:left;
    font-weight:bold;
    cursor:pointer;
    line-height:25px;
    padding:3px 5px
}
.material-symbols-outlined {
    font-size:38px;
    font-variation-settings:"FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}
.header span:hover {
    color:#cadda0;
}
.logo {
    cursor:pointer;
}
.right-header {
    float:right;
}
