* {
    color: #eeeeee;
    font-family: kadwa, karla, sans-serif;
    padding: 0;
    margin: 0;
}
h1 {
    font-weight: normal;
    font-size: 56pt;
    letter-spacing: -0.03em;
    font-family: karla;
}
h1 > * {
    font-family: karla;
}
h2 {
    font-weight: normal;
    font-size: 24pt;
    letter-spacing: 0;
    font-family: karla;
}
h2 > * {
    font-family: karla;
}
p, span {
    font-size: 12pt;
    letter-spacing: 40;
    font-family: kadwa;
}
p > * {
    font-family: kadwa;
}
body {
    background: rgb(17, 26, 35);
}
button {
    border-radius: 5px;
    border: none;
    background-color: #cadda0;
    color: #292E32;
    cursor: pointer;
}
input {
    border: none;
    border-radius: 5px;
    color: #EEEEEE;
    background-color: rgb(56, 56, 56);
}
::placeholder {
    opacity: 0.4;
    color: #CADDA0;
}
.header {
    overflow: hidden;
    background-color: #1e1e1e;
    padding: 0 5px;
    border-radius: 0 0 10px 10px
}
.header > * {
    padding-top: 12px;
}
.header span, .pfp {
    float: left;
    font-weight: bold;
    cursor: pointer;
    line-height: 25px;
    padding: 8px 5px;
}
.pfp {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
}
.material-symbols-outlined {
    font-size: 38px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}
.header span:hover {
    color: #cadda0;
}
.logo {
    cursor: pointer;
}
.right-header {
    float: right;
}
