.home-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.75fr 0.75fr 1fr;
    grid-gap: 15px;
    width: calc(100% - 20px);
    margin: 20px auto;
}
.home-grid > div {
    & svg {
        max-width: 300px;
    }
    & img {
        max-width: clamp(100px, 35%, 150px);
    }
}
.bento-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--gray) 3px solid; 
    border-radius: 5px;
    background-color: var(--dark-gray); 
    padding: 10px;
}
.plate-svg {
    max-width: 400px;
    max-height: 170px;
}
.review-box {
    grid-column: span 1;
    grid-row: span 2;
    & svg {
        max-width: 650px !important;
    }
}
.decorative-sushi {
    max-height: 350px !important;
    max-width: initial !important;
}
.create-deck-box {
    grid-column: span 2;
    gap: 10px;
}
.review-schedule {
    grid-row: span 3;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    max-height: 80vh;
    padding: 0 10px !important;
}
.review-schedule .container {
    border: none;
    background: transparent;
    display: flex;
    grid-row: span 3;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: auto;
}
.review-schedule input {
    width: calc(100% - 10px);
    padding: 0px 5px;
    margin: 10px 10px 0 10px;
    margin-left: 10px;
}
.review-name {
    max-width: calc(18vw - 50px);
    overflow: hidden;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review-schedule span.material-symbols-outlined {
    font-size: 13px;
    margin-right: 5px;
}
.review-number {
    color: var(--accent-1);
}
.browse-decks-box {
    grid-column: span 2;
    gap: 10px;
}
.deck-viewer {
    display: none;
    position: absolute;
    left: calc(10% - 5px);
    top: 65px;
    width: 70%;
    height: calc(100vh - 80px);
}
.graph-container {
    grid-column: span 3;
}
.review-sushi, .interactive-sushi {
    cursor: pointer;
    z-index: 2;
    animation-name: sushi-shine;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes sushi-shine {
    50% {
        filter: drop-shadow(0 0 0.3rem gold);
    }
}
@media screen and (max-width: 1010px) {
    .home-grid {
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .review-box {
        grid-column: span 2;
    }
    .review-schedule {
        grid-column: span 2;
    }
    .create-deck-box {
        .plate-svg {
            display: none;
        }
    }
    .graph-container {
        grid-column: span 4;
    }
    .review-name {
        max-width: calc(34vw - 50px);
    }
}
@media only screen and (max-width: 600px) {
    .home-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .bento-box {
        grid-column: span 1;
        grid-row: span 1;
    }
    .review-name {
        max-width: calc(80vw - 50px);
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--lighter-gray);
} 
::-webkit-scrollbar-thumb {
    background: var(--lighter-gray);
}
.review-container {
    background-color: var(--gray);
    padding: 2.5px 10px;
    border-radius: 5px;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}