* {
    padding: 0;
    margin: 0;
    font-size: 24pt;
}
body > div {
    background: rgb(221,229,182);
    background: linear-gradient(145deg, rgba(221,229,182,1) 0%, rgba(173,193,120,1) 50%, rgba(64,125,176,1) 100%); 
}
.logo {
    font-size: 30pt;
    border-radius: 10px;
    cursor: pointer;
}
.bento-logo {
    background-color: #E9E9ED;
    font-size: 30pt;
    border-radius: 10px;
}
body {
    font-family: "Noto Sans", sans-serif;
}
.top-bar {
    background: rgb(240,234,210);
    background: linear-gradient(180deg, rgba(240,234,210,1) 0%, rgba(221,229,182,0) 100%); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}
.top-bar-side > button {
    width: 125px;
    font-size: 16pt;
}
.top-bar-side {
    display: flex;
    flex-direction: row;
    gap: 4%;
}
button {
    cursor: pointer;
    border-radius: 10px;
    border-width: 0px;
}
.bento-logo:hover, button:hover {
    background-color: #E9E9ED;
    animation-name: button-box-shadow;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}
.learning {
    font-size: 96pt;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
#faster, #better {
    /* margin-left: 15%; */
}
#faster-text {
    animation-name: faster-vroom;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    font-weight: bold;
    font-style: italic;
    position: relative;
}
#better-text {
    transform: translate(200vh);
    animation-name: better-vroom;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;   
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 10%;
}
#sales-pitch {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 24pt;
    margin-bottom: 2.5%;
}
#bento-pitch > p,i {
    font-size: 24pt;
    margin-top: 1%;
    font-family: "Noto Sans", sans-serif;
}
#bento-description > p,i,b {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: 30pt;
}
.bento-pitch {
    margin-left: 15%;
    margin-top: 3%;
}
.bento-pitch > p,i {
    font-size: 30pt;
}
#call-to-action {
    padding-right: 5%;
    padding-top: 2%;
    font-size: 48pt;
}
hr {
    margin-left: 2%;
    margin-right: 2%;
    height: 5px;
    background-color: black;
}
#big-button-container {
    margin-top: 4%;
    margin-bottom: 3%;
    justify-content: center;
    display: flex;
}
#big-button {
    width: 40%;
    background: rgb(240,234,210);
    font-size: 24pt;
    padding: 1%;
}
#bottom-text {
    text-align: center;
}
#bottom-bar {
    background: rgb(10,57,57);
    background: linear-gradient(0deg, rgba(10,57,57,1) 0%, rgba(10,57,57,0) 100%); 
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
}
#bottom-bar-text {
    font-size: 18pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes faster-vroom {
    25% {transform: translate(500vh); visibility: hidden;}
    26% {transform: translate(-150vh); visibility: hidden;}
    27% {transform: translate(-90vh); visibility: hidden;}
    40% {transform: translate(2vh); visibility: hidden;}
    50% {transform: translate(0vh); visibility: hidden;}
    75% {transform: translate(500vh); visibility: hidden;}
    76% {transform: translate(-150vh); visibility: hidden;}
    77% {transform: translate(-90vh); visibility: visible;}
    90% {transform: translate(2vh);}
    100% {transform: translate(0vh);}
}
@keyframes better-vroom {
    25% {transform: translate(500vh); visibility: hidden;}
    26% {transform: translate(-150vh); visibility: hidden;}
    27% {transform: translate(-90vh); visibility: visible;}
    40% {transform: translate(2vh); visibility: visible;}
    50% {transform: translate(0vh); visibility: visible;}
    75% {transform: translate(500vh); visibility: hidden;}
    76% {transform: translate(-150vh); visibility: hidden;}
    77% {transform: translate(-90vh); visibility: hidden;}
    90% {transform: translate(2vh); visibility: hidden;}
    100% {transform: translate(0vh); visibility: hidden;}
}
@keyframes button-box-shadow {
    100% {box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);}
}



