.main-container {
    display: flex;
    gap: 15px;
    margin: 20px 10px;
}
.sidebar {
    min-width: calc(25vw - 6px);
    height: calc(100vh - 129px);
    border: var(--gray) 3px solid;
    border-radius: 5px;
    background-color: var(--dark-gray);
    padding: 10px;
    input[type="text"] {
        font-size: 12pt;
        padding: 2.5px;
        width: calc(100% - 60px);
    }
}
.search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-menu {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 0.3s;
}
.search-menu:hover {
    filter: brightness(85%);
}
#searchBar {
    margin-bottom: 5px;
}
.checkbox-box {
    display: flex;
    gap: 5px;
    padding: 2.5px 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--gray);
    border-radius: 5px;
}
.checkbox-box:hover {
    background-color: var(--light-gray);
}
.tags-box, .filters, .question-type-filters {
    margin-top: 10px;
    background-color: var(--gray);
    padding: 5px;
    padding-bottom: 7.5px;
    border-radius: 10px;
}
.predefined-tags {
    display: flex;
    gap: 10px;
}
.break-line {
    height: 10px;
}
.user-tags {
    display: flex;
    gap: 5px;
}
.tag {
    display: flex;
    padding: 0px 5px;
    background-color: rgb(175, 150, 100);
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    .material-symbols-outlined {
        font-size: 12pt;
    }
}
.add-tag, .remove-tag {
    cursor: pointer;
    transition: 0.3s;
}
.add-tag:hover, .remove-tag:hover {
    filter: brightness(85%);
}
.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.include-container {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    & div {
        position: relative;
        & div {
            /* Toggle the comment to switch between the strictly and loosely */
            /* right: 0; */
            position: absolute;
            width: 50%;
            height: 100%;
            background-color: rgba(175, 150, 100, 0.8);
            border-radius: 10px;
        };
        span:first-of-type {
            margin-left: 5px;
        }
        span:last-of-type {
            margin-right: 5px;
        }
        & span {
            position: relative;
            z-index: 2;
        }
    };
}
#strict-maching-slider {
    cursor: pointer;
}
.decks-display {
    width: 100%;
}
.ingredient-box {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
    height: clamp(180px, 202.5px, 202.5px);
    width: 32%;
    background-color: var(--dark-gray);
    background-image: src="";
    background-size: cover;
    border-radius: 10px;
}
.preview-button, .add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    backdrop-filter: blur(2px) brightness(0.5);
    height: 40.5px;
    width: 40.5px;
}
.preview-button {
    top: 10px;
    right: 60px;
}
.add-button *, .preview-button * {
    color: var(--light-text);
    font-size: 22.5px;
    margin: 8px 0;
}
.preview-btn {
    padding: 3px;
}
.preview-ico {
    font-size: 15px !important;
    color: black !important;
}
.ingredient-box > div {
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(0.5);
    position: absolute;
    min-width: 100%;
    bottom: 0;
    padding: 5px;
    border-start-end-radius: 10px;
}
.ingredient-box h2 {
    width: clamp(320px, 360px, 360px);
    max-width: var(100% - 40px);
    text-overflow: ellipsis;
    white-space: nowrap;
}
.deck-bottom-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.owned-decks, .popular-decks {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.decks-display > div{
    margin-bottom: 10px;
}