h2 {
    display: inline;
}
#overall-container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
}
#overall-container > div {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
#settings-big-box {
    max-height: 50vh;
    overflow: auto;
}
.big-box, button {
    margin: 15px 25px;
    padding: 15px;
    border-radius: 10px;
}
.big-box {
    background-color: var(--gray);
}
#left-div {
    display: flex;
}
#deck-big-box {
    flex-grow: 0.9;
}
.deck-container, .settings-container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    overflow: auto;
}
.deck-container {
    max-height: 73vh;
}
.settings-container {
    max-height: min-content;
}
.setting-box, .deck-box {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 5px;
}
.deck-box {
    margin-left: 10%;
    width: 80%;
    margin-top: 12px;
    background-color: var(--light-gray);
}
.setting-box {
    justify-content: left;
    display: flex;
}
.setting-box > p {
    margin-left: 5px;
}
#deckSelectAll {
    font-size: 22px;
    float: inline-end;
    color: #6591d2;
    cursor: pointer;
}
#reviewBtn {
    float: right;
    padding: 0px 10px;
    margin-right: 29px;
    min-width: 50%;
}
#reviewBtn > h1 {
    color: #292E32;
}
@media only screen and (max-width: 1300px) {
    #overall-container {
        flex-direction: column;
    }
    #overall-container > div {
        width: 100%;
    }
    .big-box {
        margin: 10px;
    }
    .deck-container, .settings-container {
        max-height: 30vh;
    }
    .big-box {
        max-width: 88.5%;
    }
    #reviewBtn {
        margin-top: 3%;
        margin-right: 4.4%;
    }
}
