#profile-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100vw;
  height: calc(100vh - 63px);
}
#profile-container > div {
  height: 100%;
	display: flex;
}
#left-div {
  width: 35%;
}
#right-div {
  width: 65%;
  flex-direction: row;
}
#left-div > * {
	margin: 30px auto;
}
.profile-picture {
	border-radius: 50%;
	height: 50vh;
	width: 50vh;
}
.file-selector {
  background: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  opacity: 0;
}
.setting-box {
  height: min-content;
}
#pfpAddBtn, #pfpReset {
  cursor: pointer;
  color: #5992e8;
  height: 50px;
}
#pfpAddBtn {
  margin: 30px 10px 0px 0px;
}
#pfpReset {
  margin: 30px 50px 0px 0px;
}
@media screen and (max-width: 1400px) {
  #profile-container {
    flex-direction: column;
  }
  #left-div {
    width: 100%;
  }
  #right-div {
    width: 100%;
    flex-direction: column;
  }
  .profile-picture {
    height: 30vh;
    width: 30vh;
  }
  .setting-box > input, .setting-box > button {
    width: 95%;
  }
}
dialog {
  margin: auto;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #1e1e1e;
  min-width: 450px;
  h2 {
      display: inline;
  }
  button {
      font-size: 12pt;
      height: 30px;
      width: auto;
      padding: 0px 5px;
      margin: 0px 5px;
  }
}