#profile-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100vw;
  height: calc(100vh - 63px);
}
#profile-container > div {
  height: 100%;
	display: flex;
  flex-direction: column;
}
#left-div {
  width: 35%;
}
#right-div {
  width: 65%;
  flex-direction: row;
}
#left-div > * {
	margin: 30px auto;
}
.profile-picture {
	border-radius: 50%;
	height: 50vh;
	width: 50vh;
}
#profile-picture-container {
  position: relative;
}
.file-selector {
  background: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  opacity: 0;
}
.setting-box {
  height: min-content;
}
#pfpAddBtn, #pfpReset {
  cursor: pointer;
  color: #5992e8;
  height: 50px;
}
#pfpAddBtn, #pfpReset {
  position: absolute;
  top: 5px;
  right: 10px;
}
#pfpReset {
  right: 55px;
}
dialog {
  margin: auto;
  padding: 15px;
  border: none;
  border-radius: 10px;
  min-width: 450px;
  h2 {
      display: inline;
  }
  button {
      font-size: 12pt;
      height: 30px;
      width: auto;
      padding: 0px 5px;
      margin: 0px 5px;
  }
}
.title-bar {
  display: flex;
  justify-content: space-between;
}
#leave, .go_back, .confirm {
  padding: 0px 5px;
}
.confirm {
  background-color: var(--danger-red);
  color: var(--light-text);
}
#left-div > .setting-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
@media screen and (max-width: 1250px) {
  #profile-container {
    flex-direction: column;
  }
  #left-div {
    width: 100%;
  }
  #left-div > .setting-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    * {
      margin-left: 15px;
    }
  }
  #right-div {
    width: 100%;
    flex-direction: column;
  }
  .profile-picture {
    height: 40vh;
    width: 40vh;
  }
  .setting-box > input, .setting-box > button {
    width: 95%;
  }
}