br {
  height: 20px;
}
#settings-container {
  margin-left: 35%;
  max-height: calc(100vh - 95px);
}
button:hover {
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
}
.setting-box {
  border-style: solid;
  display: flex;
  flex-direction: column;
  border: 0;
  width: 50%;
  margin: 1.5%;
  border-radius: 10px;
  padding: 1%;
  background-color: var(--gray);
}
.setting-box > button, .setting-box > input {
  width: 45%;
}
#vocab-repetition-setting {
  flex-direction: column;
  height: fit-content;
  align-items: baseline;
}
input, button {
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 12pt;
}
input[type="checkbox"], input[type="radio"] {
  margin-left: 0;
}
input[type="checkbox"] {
  width: min-content;
}
.change-input {
  color: var(--light-text);
  margin-top: 2%;
  margin-bottom: 2%;
}
#dangerZoneBox > button {
  margin-top: 2%;
  background-color: #E01F15;
  color: var(--light-text);
}
#set-size-slider {
  cursor: grabbing;
}
#set-size-slider-stuff {
  display: flex; 
  align-items: center;
  gap: 10px;
}
::placeholder {
  opacity: 0.4;
  color: #CADDA0;
}
#settings-icon-nondescructive {
  position: absolute;
  height: 540px;
  bottom: 0px;
  right: 0px;
  content:url("https://static.miraheze.org/hololivewiki/e/e6/Gawr_Gura_-_Portrait_VR_01.png");
  animation: ability-to-use 600s;
}
@keyframes ability-to-use {
  0% {opacity: 0;}
  10% {opacity: 0;}
  100% {opacity: 1;}
}
@media only screen and (max-width: 1400px) {
  #settings-container {
    max-height: initial;
    margin-left: 0;
    z-index: 1;
  }
  .setting-box {
    margin: auto;
    margin-top: 15px;
    width: 87%;
    padding: 2%;
  }
  .setting-box > button, .setting-box > input, #set-size-slider-stuff, .radio-container, .checkbox-container {
    max-width: 95%;
    margin-left: 2.5%;
  }
  .setting-box > button, .setting-box > input, #set-size-slider-stuff, .radio-container, .checkbox-container, .setting-box > p, .setting-box > h2, .setting-box {
    z-index: 2;
  }
}