#settings-container {
  margin-left: 35%;
  max-height: calc(100vh - 95px);
}
button:hover {
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.1);
}
.setting-box {
    border-style: solid;
    display: flex;
    flex-direction: column;
    border: 0;
    width: 50%;
    margin: 1.5%;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(33, 33, 33);
}
.setting-box > button, .setting-box > input {
  max-width: 30%;
}
#vocab-repetition-setting {
  flex-direction: column;
  height: fit-content;
  align-items: baseline;
}
input, button {
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 12pt;
}
input[type="checkbox"], input[type="radio"] {
  margin-left: 0;
}
input[type="checkbox"] {
  width: min-content;
}
.change-input {
  color: #EEEEEE;
  background-color: rgb(56, 56, 56);
  margin-top: 2%;
  margin-bottom: 2%;
}
#dangerZoneBox > button {
  margin-top: 2%;
}
#set-size-slider {
  cursor: grabbing;
}
#set-size-slider-stuff {
  display: flex; 
  align-items: center;
  gap: 10px;
}
::placeholder {
  opacity: 0.4;
  color: #CADDA0;
}
