:root {
    --light-text: #EEEEEE;
    --dark-text: #292E32;

    --select-blue: #236BD6;
    --danger-red: #E01F15;

    --background: #111A23;

    --dark-gray: #1E1E1E;
    --gray: #212121;
    --light-gray: #292E32;
    --lighter-gray: #383838;
    --accent-1: #CADDA0;
}