* linguist-vendored=false
*.js linguist-vendored=false

# linguist-language=Other

# *.roff linguist-vendored
# *.json linguist-vendored
# *.md linguist-vendored
# phpmailer.lang-*.php linguist-vendored
