.password-container h1, .password-container p {
    text-align: center;
}
.password-container {
    max-width: 700px;
    background-color: var(--dark-gray);
    padding: 15px;
    border-radius: 10px;
    min-height: 40dvh;
    margin: auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;
}
.password-container input {
    text-align: center;
}
.password-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    width: max-content;
    margin: auto;
}
#resetpwd {
    padding: 0px 5px;
}
@media screen and (max-width: 700px) {
    .password-container {
        width: 90%;
    }
}